@font-face {
   font-family: 'Average';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/%5BFiles%5D%20Vincent/%5BWebsite%5D%20Vincent%20Portfolio/fonts/Average/regular.ttf') format('truetype');
}
